body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  color:#e3e3e3;
  background-color:#060606;
}
/* global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}
.button_1{
  height:38px;
  background:#ff00d8;
  border:0;
  padding-left:20px;
  padding-right:20px;
  color:#ffffff;

}
.button_1:hover{
  color:#FFFFFF;
  background:#00e8ff;
  font-weight:bold;
  transition: 300ms;
}
.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
/*header **/
header{
  position: fixed;
  top: 0px;
  height: 15%;
  width: 100%;
  padding-top:0px;
  min-height:10px;
  background:#ffffff;
  color:#ffcd00;
  border-bottom:#ff00d8 5px solid;
}

header a{
  color:#ff00d8;
  text-decoration:none;
  text-transform: uppercase, BOLD;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}
Header #branding h1{
  Margin:0;
}
Header nav{
  float:right;
  margin-top: -40px;

}
header .hightlight, header .current a{
  color:#00c5ff;
  font-weight:bold;
}

header a:hover{
  color:#ffe000;
  font-weight:bold;
  transition: 300ms;
}
header.sticky {
    padding: 10px 20px;
}
/*showcase */
#showcase{
  min-height:400px;
  background:url('../img/cnbanner.png') no-repeat 0 0px;
  text-align:center;
  color:#ffffff;
  transition: padding 300ms ease;
}
#showcase h1 {
  margin-top:170px;
  font-size:55px;
  Margin-bottom:10px;
  text-shadow: 5px 2px 5px #000000;


}
#showcase p{
  font-size:20px;
  text-shadow: 2px 5px 5px #000000;
}
/*newsletter*/
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}

#newsletter h1{
  float:left;

}
#newsletter form{
  float: right;
  margin-top:15px;
}
#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
/* boxes */
#boxes .box{
  margin-top:20px;
}
#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}
#boxes .box img{
  width:90px;
}
/*sidebar*/
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}
aside#sidebar .QUOTE input, aside#sidebar .QUOTE textarea{
  width:90%
  padding: 5px
}
/*main-col*/
article#main-col{
  margin-top: 100px;
  float;left;
  width:65%;
}

/*services*/
ul#services li{
  List-style: non;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background: #e6e6e6;
}
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#ff00d8;
  text-align: center;
}

/*media*/
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%
  }
  Header{
    padding-bottom: 20px;
  }
  #showcase h1{
    margin-top:40px
  }
  #newsletter button, .quote button {
    display:block;
    width: 100%;
  }
  #newsletter form input [type="email"], .quote input, .quote textarea{
    width: 100%
    margin-bpttp, 5px;
  }
}
#PORTFOLIO{
  margin-top: 200px;
  text-align:center;
}
